<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sih">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Jobs.jobApply"></activity>
        <activity
            android:name=".Jobs.topJobs"
            android:parentActivityName=".Jobs.topJobsFragment" />
        <activity
            android:name=".Jobs.topJobsFragment"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Registration.Favorite_Sectors" />
        <activity android:name=".Jobs.Dream_jobs" />
        <activity android:name=".Jobs.Job_Details" />
        <activity android:name=".Testing" />
        <activity android:name=".Jobs.progressTracker" />
        <activity android:name=".PublishJob.jobsPublished" />
        <activity android:name=".PublishJob.jobDetails" />
        <activity android:name=".PublishJob.companyProof" />

        <service
            android:name=".Registration.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1120892018817048~9802887224" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".Profile.Update_Certificates" />
        <activity android:name=".Profile.Change_Password" />
        <activity android:name=".Profile.Profile" />
        <activity android:name=".Registration.Language" />
        <activity android:name=".Profile.Forgot_Password" />
        <activity android:name=".Registration.Login" />
        <activity android:name=".Profile.Rating" />
        <activity android:name=".Registration.PhoneVerification" />
        <activity android:name=".Jobs.Tenders" />
        <activity android:name=".Jobs.Free_Lancing" />
        <activity android:name=".Jobs.Government" />
        <activity android:name=".Jobs.Non_Government" />
        <activity android:name=".Registration.Register2" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Registration.Register" />
        <activity android:name=".chatApp.User_List" />
        <activity
            android:name=".Chat"
            android:parentActivityName=".chatApp.User_List" />
        <activity android:name=".PublishJob.CreateYourJob">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.example.sih"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration.Forgot_Second" />
        <activity android:name=".Registration.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>